.section-1 {
    padding-top: 10px;
    height: fit-content;
    min-height: 100vh;
}
.section-2 {
    background-image: url("Images/Frame-2.png");
    height: fit-content;
    min-height: 100vh;
}
.section-3 {
    background-image: url("Images/Frame-3.png");
    height: 100vh;
}
.section-4 {
    background-image: url("Images/Frame-4.png");
}
.section-5 {
    background-image: url("Images/Frame-5.png");
}
.section-6 {
    background-image: url("Images/Frame-6.png");
}
.section-7 {
    background-color: #F6F9FD;
}
.section-8 {
    background-color: #F6F9FD;
    height: fit-content;
    min-height: 100vh;
}
.section-9 {
    background-color: #F6F9FD;
}
.section-10 {
    background-image: linear-gradient(#c9f1eb, #96c0ba);
    height: fit-content;
    min-height: 100vh;
}




.section-2 ul {
    list-style-image: url('Images/UL-bullet.png');
}



/* .column-services {
    background-color: #F5D2EE;
} */

.column-services img {
    width: 100%;
    /* min-height: min-content;
    max-height: max-content; */
    object-fit: cover;
    /* margin: auto; */
}

#typing-effect {
    min-height: 300px;
}



@media screen and (max-width: 991px) {
    .section-7, .section-9 {
        height: fit-content;
    }
 
}
