.shop-section-1 {
    background-color: #F6F9FD;

}

.shop-section-1 .container-img {
    cursor: pointer;
}

.text-over {
    position: absolute;
    font-size: 2.5rem;
    z-index: 5;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}


.join-list {
    width: max-content !important;
}
.join-list::before,
.join-list:hover::before{
    margin-right: 30px;
}

#shop-container {
    position: relative;
}

button a {
    text-decoration: none;
    color: black;
    transition: all 10ms;
}
button:hover a {
    text-decoration: none;
    color: #22C3EE;
}

.pop-up-window-shop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem ;
    color: #22C3EE;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    z-index: 100;
    min-width: 290px;
    display: none;
}



@media screen and (max-width: 991px) {
    .shop-section-1 {
        height: fit-content;
    }
 
}