    /* Fonts: */
/* font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* --- General --- */

section {
    position: relative;
    width: 100%;
    height: 100vh;

    background-position: center;
    background-size: cover;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 150ms linear;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#typing-effect-square {
    height: 2rem;
    width: 4rem;
    margin-left: -3rem;
}



/* Buttons */
button {
    width: 250px !important;
    padding: 5px 10px;
    border: none;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 0;
    transition: all 200ms linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button::before {
    content: url(Images/Arrow-black.png);
    width: 20px;
    margin-right: 5px;
}
button:hover::before {
    content: url(Images/Arrow-blue.png);
    margin-right: 5px;
}
button:hover {
    color: #56CCF2;
}


/* Control vertical-align */
.d-flex-col {
    display: flex;
    flex-direction: column;
}

/* --- Colors --- */
.meta-blue {
    color: #56CCF2;
}

.meta-pink {
    color: #F5D2EE;
}

.meta-pink-Figma {
    color: #F363C2;
}

.white {
    color: white;
}

/* TEXT SIZE */

.text-XXL {
    font-size: 2.8rem;
}
.text-XL {
    font-size: 2.4rem;
}
.text-L {
    font-size: 2rem;
}
.text-M {
    font-size: 1.4rem;
}

/* TEXT WEIGHT */

.bold-N {
    font-weight: 400;
}

.bold {
    font-weight: 500;
}
.bold-X {
    font-weight: 600;
}
.bold-XL {
    font-weight: 700;
}


/* --- Header --- */

header {
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 10;
    border: 1px solid pink;

}
.my-navbar {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255);
}
.my-navbar .nav-container {
    background-color: rgba(255, 255, 255);
    position: relative;
}
header button::before,
header button:hover::before  {
    content:none
}

.navbar-toggler {
    width: fit-content !important;
}

/* Logo */
#logo img {
    width: 60px;
}
#logo img:hover {
    transform: scale(1.05);
}


/* Video Container for Mute/Unmute button */
.container-video {
    position: relative;
}
#mute-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 5%;
    min-width: 50px;
    cursor: pointer;
}


/* Footer */

footer {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    min-height: 800px;
}

.section-footer {
    background-color: #FFFFFF;
    height: 100%;
    min-height: 700px;
}

.social-media {
    width: 70px;
    opacity: 0.9;
}
.social-media:hover {
    transform: scale(1.1);
    opacity: 1;
}

.break-line-gradient {
    margin: 0;
    border: 0;
    height: 3px !important;
    background: linear-gradient(90deg, rgb(60, 191, 235) 0%, #F363C2 100%);
    /* color: red; */
}

.copyright {
    background-color: #FFFFFF;
}





@media screen and (max-width: 991px) {
    /* TEXT RE-SIZE */
    .text-XXL {
        font-size: 2.6rem;
    }
    .text-XL {
        font-size: 2.2rem;
    }
    .text-L {
        font-size: 1.8rem;
    }
    .text-M {
        font-size: 1.2rem;
    }

    nav ul {
        margin: 0 !important;
        padding: 0 !important;
    }
    nav ul li {
        margin: auto !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 991px) {
    /* TEXT RE-SIZE */
    .text-XXL {
        font-size: 2.4rem;
    }
    .text-XL {
        font-size: 2rem;
    }
    .text-L {
        font-size: 1.6rem;
    }
    .text-M {
        font-size: 1rem;
    }
}



video {
    width: 100%;
    height: 100%;
}

.container-img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img img:hover {
    transform: scale(1.05);
}

/* Scroll to top button */

.scroll-to-top {
    width: 60px !important;
    height: 50px;
    position: fixed;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scroll-to-top::before {
    content: "";
}



/* .container {
    border: 1px solid red;
}

.row {
    border: 1px solid blue;
}

section {
    border: 1px dotted green;
} */