
.tech-section-1 {
    padding-top: 10px;
    background-image: url("Images/Technology-1.png");
}
.tech-section-2 {
    background-color: #FFFFFF;
    height: fit-content;
    min-height: 100vh;
}
.tech-section-3 {
    background-image: url("Images/Technology-3.png");
}
.tech-section-4 {
    background-image: url("Images/Technology-4.png");
}
.tech-section-7 {
    background-color: #F5D2EE;
    height: fit-content;
    min-height: 100vh;
}