.section-vision-5 {
    background-image: url("Images/Vision-5.png");
    min-height: 900px;
    height: 100%;
}
.section-vision-6 {
    background-image: url("Images/Vision-6.png");
    background-position:  center;
    min-height: 800px;
    height: 100%;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    display: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-slide img:hover {
    transform: scale(1.1);
}

.container {
    height: 100%;
}


.col-lg-5 {
    height: 100%;
}